In [3]:
# PHASE M5 â€” Feature Engineering (Advanced but Safe)

import pandas as pd
import numpy as np

print("Phase M5 started successfully")

Phase M5 started successfully

In [5]:
# Load cleaned dataset from Phase M4
df = pd.read_csv("../data/insurance.csv")

print("Dataset shape:", df.shape)
df.head()

Dataset shape: (1338, 7)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [6]:
def bmi_category(bmi):
    if bmi < 18.5:
        return "Underweight"
    elif bmi < 25:
        return "Normal"
    elif bmi < 30:
        return "Overweight"
    else:
        return "Obese"

df["bmi_category"] = df["bmi"].apply(bmi_category)

df["bmi_category"].value_counts()

bmi_category
Obese          707
Overweight     386
Normal         225
Underweight     20
Name: count, dtype: int64

In [7]:
def age_group(age):
    if age < 30:
        return "Young"
    elif age < 50:
        return "Adult"
    else:
        return "Senior"

df["age_group"] = df["age"].apply(age_group)

df["age_group"].value_counts()

age_group
Adult     536
Young     417
Senior    385
Name: count, dtype: int64

In [8]:
df["smoker_binary"] = df["smoker"].map({"yes": 1, "no": 0})

df[["smoker", "smoker_binary"]].head()

  smoker  smoker_binary
0    yes              1
1     no              0
2     no              0
3     no              0
4     no              0

In [9]:
df["age_smoker_interaction"] = df["age"] * df["smoker_binary"]

df[["age", "smoker", "age_smoker_interaction"]].head()

   age smoker  age_smoker_interaction
0   19    yes                      19
1   18     no                       0
2   28     no                       0
3   33     no                       0
4   32     no                       0

In [10]:
df["bmi_smoker_interaction"] = df["bmi"] * df["smoker_binary"]

df[["bmi", "smoker", "bmi_smoker_interaction"]].head()

      bmi smoker  bmi_smoker_interaction
0  27.900    yes                    27.9
1  33.770     no                     0.0
2  33.000     no                     0.0
3  22.705     no                     0.0
4  28.880     no                     0.0

In [11]:
df.drop(columns=["smoker_binary"], inplace=True)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   age                     1338 non-null   int64
 1   sex                     1338 non-null   object
 2   bmi                     1338 non-null   float64
 3   children                1338 non-null   int64
 4   smoker                  1338 non-null   object
 5   region                  1338 non-null   object
 6   charges                 1338 non-null   float64
 7   bmi_category            1338 non-null   object
 8   age_group               1338 non-null   object
 9   age_smoker_interaction  1338 non-null   int64
 10  bmi_smoker_interaction  1338 non-null   float64
dtypes: float64(3), int64(3), object(5)
memory usage: 115.1+ KB

In [13]:
df.to_csv("../data/insurance_feature_engineered.csv", index=False)

print("Feature-engineered dataset saved successfully")

Feature-engineered dataset saved successfully